body {
  margin: 0px;
}

header {
  background-color: #355c70;
  height: 120px;
  border-style: solid;
  border-top: 3px;
  border-color: #a184ff;
  position: sticky;
  top: 0;
}

header .family {
  padding-top: 10px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;

}

.family {
  display: flex;
}

.icon img {
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  border-width: 3px;
}

.information {}

.information h1 {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-left: 20px;
  color: #1e1e1e;
  -webkit-text-stroke: 1px #ffffff;
}

.information ul {
  margin-top: 5px;
  margin-left: 0px;
}

.information li {
  display: inline;
  padding-left: 0px;
  padding-right: 30px;
}

.information img {
  width: 32px;
  height: 25px;
}

.contents {
  background-color: lightgrey;
  height: 3000px;
  margin: 0px;
}

.contents>h1 {
  Font-size: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align-last: center;
}

.contents h1 span {
  -webkit-text-stroke: black 1px;
}

.youtube {
  background-color: #c4302b;
  height: 830px;
  border-style: solid;
  border-color: black;
  border-left: 3px;
  border-right: 3px;
  width: 90%;
  margin-left: auto;
  margin-right: auto
}

.youtube h2 {
  color: black;
}

.youtube_white_flame {
  width: 96%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.youtube_white {
  width: 640px;
  background-color: lightcoral;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.Lesson7 {
  width: 560px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-display: center;
}

.Lesson7>h2 {
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
}

.Lesson8 {
  width: 560px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-display: center;
}

.Lesson8>h2 {
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
}

.word {
  background-color: #445c82;
  height: 800px;
  border-style: solid;
  border-color: black;
  border-left: 3px;
  border-right: 3px;
  width: 90%;
  margin-left: auto;
  margin-right: auto
}

.word_white_flame {
  width: 96%;
  height: 95%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.word_white {
  background-color: #87b6ff;
  width: 640px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.air {
  height: 20px;
}

a>h2 {
  text-align: center;
  background-color: #87b6ff;
  border-top: 1px;
  border-style: solid;
  border-color: #00a;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}